<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <style>
      
    </style>
  </head>
  <body>
    <div id="app">
      姓<input type="text" v-model="xi" @keyup="add">+
      名<input type="text" v-model="name" @keyup="add">=
      完整姓名<input type="text" v-model="total">
      {{ total }}{{ total }}
    </div>
    <script>
        
      var vm = new Vue({
        el: "#app",
        data() {
          return {
            xi:"",
            name:"",
            total:""
          };
        },
        methods: { // 专门用于处理事件
            add(){
                console.log("函数")
                this.total = this.xi + this.name;
            }
        }
      });
    </script>
  </body>
</html>
